/* Stile base del corpo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

/* Contenitore dell'animazione */
.fade-in {
    background-color: #ff0000; /* Sfondo rosso */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Partenza completamente trasparente */
    animation: fadeIn 3s ease-in forwards; /* Animazione di 3 secondi */
}

/* Foto di Myss Keta */
.fade-in img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px; /* Angoli leggermente arrotondati */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Ombra */
}

/* Animazione di sfumatura */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
